
.states{
	fill:none;
	stroke: #fff;
	stroke-linejoin: round;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(43,43,43, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip.down {
	-webkit-transform: translate(5em, 10em);
	transform: translate(5em, 10em);
}